/* Цвета: base */
$color-white: #ffffff;
$color-grey: #bdbdbd;
$color-black: #333333;
$color-primary: #7859cf;
$color-secondary: #f0ebff;

/* Цвета: alt */
$color-primary-opacity: rgb(120 89 207 / 25%);
$color-primary-lighter: #9070ec;
$color-primary-darker: #593cac;
$color-light-grey: #e2e2e2;

/* Цвета: фоны */
$color-bg-lightest-grey: #f8f8f8;
$color-bg-flat-white: #f3ebe1;
$color-bg-lavender-latte: #eae6fc;
$color-bg-espresso: #e5e6e8;

/* Шрифты */
$font-family-base: "Montserrat", sans-serif;
