.pagination__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: $color-primary;
  background-color: $color-white;
  border-radius: 4px;
}

.pagination__link:hover,
.pagination__link:focus-visible {
  color: $color-white;
  background-color: $color-primary-lighter;
}

.pagination__link:active {
  color: $color-white;
  background-color: $color-primary-darker;
}

.pagination__link--current,
.pagination__link--current:hover {
  font-weight: 600;
  color: $color-black;
  background-color: transparent;
}

.pagination__text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

@media (min-width: $tablet-width) {
  .pagination__list {
    gap: 20px;
    justify-content: flex-end;
  }

  .pagination__link {
    width: auto;
    min-width: 40px;
  }

  .pagination__icon {
    display: none;
  }

  .pagination__text {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 20px;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    grid-column: 2;
    grid-row: 5;
  }
}
